<odoo>
    <!-- Define the main menu item -->
    <menuitem id="menu_x_device_root" name="Device Management" sequence="10"/>

    <!-- Define the submenu for device -->
    <menuitem id="menu_x_device" name="Devices" parent="menu_x_device_root" sequence="10"/>

    <!-- Define the submenu for device connection -->
    <menuitem id="menu_x_device_connection" name="Connections" parent="menu_x_device_root" sequence="20"/>
</odoo>
