<odoo>
    <!-- Define the main menu item -->
    <menuitem id="menu_x_device_root" name="Device Management" sequence="100" app="true"/>

    <!-- Define the submenu for devices -->
    <menuitem id="menu_x_device" name="Devices" parent="menu_x_device_root" sequence="10"/>

    <!-- Define the submenu for device connections -->
    <menuitem id="menu_x_device_connection" name="Connections" parent="menu_x_device_root" sequence="20"/>
</odoo>
